<main>
  <div class="contenedor-centrado">
    @if (this.title != '¡BOOM!') {
      <button class="boton" (click)="cambiarTitulo()">Revelar noticia</button>
      <button class="boton2" (click)="cambiarTitulo()">Revelar noticia</button>
      <button class="boton3" (click)="cambiarTitulo()">Revelar noticia</button>
      <button class="boton4" (click)="cambiarTitulo()">Revelar noticia</button>
      <button class="boton5" (click)="cambiarTitulo()">Revelar noticia</button>
      <button class="boton6" (click)="cambiarTitulo()">Revelar noticia</button>
    } @else {
      <h1>-></h1>
    }
    
    @if (this.title == '¡BOOM!') {
      <div>
        <h1 (click)="mostrar()" style="cursor: pointer;" #titulo>
          {{this.title}}, llegó Angular 17
        </h1>
  
        <!-- Cuando se hace interacción con el elemento con #titulo -->
        @defer(on interaction(titulo)) {
          <h2>Welcome to the new Angular</h2>
        }
  
        <!-- Cuando pasen 2s con #titulo -->
        @defer(on timer(1s)) {
          <h3>Ready?</h3>
        } @placeholder {
          <p>Waiting to load...</p>
        } @loading {
          <p>Loading... (SPINNER)</p>
        } @error {
          <p style="color: red;">ERROR</p>
        }
  
        <!-- Cuando se pase el ratón por el elemento con #titulo -->
        @defer(on hover(titulo)) {
          <h4>Go</h4>
        }
  
        <!-- Se pueden poner varias condiciones como un OR -->
        @defer (on viewport(footer); when this.number >= 2) {
          <p>Footer visto o titulo clicado más de 2 veces</p>
        }
  
        <!-- Para cuando está inactivo -->
        @defer (on idle) {
          <p>Idle</p>
        }
  
        <!-- Para cuando ya está cargado -->
        @defer (on immediate) {
          <p>Immediate</p>
        }
  
        <!-- Condicional, cuando pase esto, se muestra -->
        @defer (when this.number >= 2) {
          <p>Número de clicks en el título: <span>{{this.number}}</span></p>
        }
  
        <button (click)="hide()" class="boton">Esconder</button>
      </div>
    }
  </div>

  <div class="contenedor-centrado">
    @if (this.lista.length > 0) {
      <h1>Lista: </h1>
    }

    <!-- track sirve para saber por qué elemento iterar. Yo elegí que itere por ID -->
    @for (elemento of this.lista; track elemento.id) {
      <!-- Un switch -->
      @switch (elemento.nombre) {
        @case ('Pepe') {
          <h1>{{elemento.nombre}}</h1>
        }
        @case ('Rosario') {
          <h1>{{elemento.nombre}} Flores</h1>
        }
        @default {
          <h1>NoRelevante</h1>
        }
      }
      <!-- Si el array está vacío, muestro esto -->
    } @empty {
      <h1>No existen elementos</h1>
    }

    @if (this.lista.length > 0) {
      <button (click)="quitarElementoLista()" class="boton6">Eliminar elemento</button>
    }
  </div>
</main>

<footer #footer>Footer</footer>
